@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Delicious+Handrawn&family=Lobster&family=Poppins&family=Sofia&display=swap');
form{
  display: flex;
  justify-content: center;
  background-image: url(../Images/Formulaire_2.png);
  text-align: start;
  font-family: 'Alkatra', cursive;
}

.contact-form{
  display: flex;
  justify-content: center;
  /*justify-items: center;*/
  height: 105vh;
}



   input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
  }
  
  form ,label{
    /*font-style: 'Sofia', cursive; */
    font-size: 18px;  
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    color: black;
  }
  
  button[type=button] {
    background-color: #460194;
    color: white;
    padding: 3px 6px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    width: 35%;
  }
  
  button[type=button]:hover {
    background-color: #6f02b8;
    /*width: 40px;*/
  }
  
  .container-form {
    /* Ajouter box-sizing */
    box-sizing : border-box;
    border: 2px solid black;
    border-radius:10px;
    background-image: url(./images/Formulaire_2_refonte1100px.png);
    background-color:#f2f2f2;
    padding:20px;
    width: 100%;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    /*margin-top: 0;
    margin-bottom: 0;*/
  }
  
  .formsend{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .formsend button{
    font-family: "Alkatra", cursive;
    font-size: 19px;   
  }
  .formsend button:hover{
    transform: scale(1.05);
    transition: ease 0.5s;
  }
  
  h1  {
    color: rgb(63, 26, 151);
    width: 100%;
  }
  h2{
  color: rgb(63, 26, 151);
  font-family: 'Lobster', cursive;
}