
/*body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
}

#main{
    height: 100vh;
}


p {
    font-weight: 700;
    color: #111;
}

header {
    
  
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    /*background-color: #7E6B8F;
    background: rgb(126,107,143);
    background: linear-gradient(180deg, rgba(126,107,143,1) 0%, rgba(224,143,143,1) 100%, rgba(0,212,255,1) 100%);
    text-decoration: none;
}

.logo {
    color: rgb(63, 26, 151);
    font-family: 'Lobster Two', cursive;
    font-size: 3em;
    text-decoration: none;
    width: 1rem;
    /*display: flex;
    justify-content: center;
    
}



.navbar {
    display: flex;
    position: relative;
    margin:1rem;
}

.navbar li {
    list-style: none;
    
}


.navbar a {
    color:rgb(63, 26, 151) ;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
    font-size: 20px;
}

.btn-reserve {
    padding: 10px 20px;
    
    background:rgb(220,142,143) ;
    margin-top: -10px;
    text-transform: uppercase;
}

.btn-reserve:hover {

    background: #e08f8f;
    transition: ease-out 0.5s;
}

header .navbar li a:hover {
    color: #0a0909;
    border-bottom:none;
}  

.titresite {
    
    width: 30%;
    display: block;
    text-align: center;
    padding: 3rem;
    text-align: left;
}*/

