.backgroundindexrecettes {
    font-family: 'Montserrat', Helvetica, sans-serif;
    /*margin: 1rem;*/
    font-size: 20px;
    /*background: #e08f8ffa;*/
    background-image: url(../Images/Backgroundconnexion2.PNG);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
}
#menu-demo2, #menu-demo2 ul{
padding:0;
margin:0;
list-style:none;
}

.stickers{
    padding: 0.8rem;
    margin-top: 2rem;
}
#menu-demo2 li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}
#menu-demo2 ul li{
display:inherit;
border-radius:0;
padding: 0 1rem;
}
#menu-demo2 ul li:hover{
border-radius:8px;
}
#menu-demo2 ul li:last-child{
border-radius:0 0 8px 8px;
}
#menu-demo2 ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu-demo2 li:hover ul{
max-height:20em;
}
#menu-demo2{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    
}
/* background des liens menus */
#menu-demo2 li:first-child{
background-color: #65537A;
background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}
#menu-demo2 li:nth-child(2){
background-color: #65537A;
background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}
#menu-demo2 li:nth-child(3){
background-color: #65537A;
background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}
#menu-demo2 li:nth-child(4){
background-color: #65537A;
background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}
#menu-demo2 li:last-child {
background-color: #65537A;
background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}
/* background des liens sous menus */
#menu-demo2 li:first-child li{
background:#2A2333;
}
#menu-demo2 li:nth-child(2) li{
background:#2A2333;
}
#menu-demo2 li:nth-child(3) li{
background:#2A2333;
}
#menu-demo2 li:nth-child(4) li{
background:#2A2333;
}
#menu-demo2 li:last-child li{
background:#2A2333;
}
/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover{
background:#65537A;
}
#menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover{
background:#65537A;
}
#menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover{
background:#65537A;
}
#menu-demo2 li:nth-child(4):hover, #menu-demo2 li:last-child li:hover{
background:#65537A;
}
#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
background:#65537A;
}
/* les a href */
#menu-demo2 a{
text-decoration:none;
display:block;
padding:8px 70px;
color:#fff;
font-size: 19px;

}
#menu-demo2 ul a{
padding:8px 0;
}
#menu-demo2 li:hover li a{
color:#fff;
text-transform:inherit;
}
/*#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
color:#000;
}*/