@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Delicious+Handrawn&family=Lobster&family=Poppins&family=Sofia&display=swap');
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
}

body {
  /*background: #d4d3d3;*/
  height: 117vh;
}

nav {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: linear-gradient(180deg, rgba(126,107,143,1) 0%, rgba(224,143,143,1) 100%, rgba(0,212,255,1) 100%);
  box-shadow: inset 0px -3px 5px #706f6f;
}

.main-navlinks {
  display: flex;
  justify-content: center;
  width: 100%;
}
nav .navlinks-container{
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}
.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.nav-icon span {
  font-family: 'Lobster Two', cursive;
  font-size: 45px;
  margin-left: 20px;
  font-weight: 400;
  color: rgb(63, 26, 151);
}
.nav-icon img {
  width: 65px;
  transform: rotate(-17deg) translateX(5px);
}
.hamburger {
  display: none;
}
.navlinks-container a {
  margin: 0 20px;
  font-size: 23px;
  font-weight: 500;
  text-decoration: none;
  color: #d6d5d5;
  display: inline-block;
  position: relative;
}
.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: middle;
  background: #333;
  transition: transform 0.2s ease-out;
}

.navlinks-container a:hover::after {
  transform: scaleX(1)
}

.nav-authentication {
  margin-left:auto;
  display: flex;
}

.sign-btns a{
  font-family: Roboto Flex, sans-serif;
  font-size: 19px;
  color: #f3f2f2;
  /*background: rgb(63, 26, 151);*/
  padding: 10px 10px;
  margin: 0 5px;
  border-radius: 20px;
  border-bottom: 3px solid rgb(41, 14, 104);
  text-shadow: 0px -2px rgb(41, 14, 104);
  transition: all .1s;
  -webkit-transition: all .1s;
  float: left;
  cursor: pointer;
}

.sign-btns a:active{
  transform: translate(0, 5px);
  -webkit-transform: translate(0, 5px);
  border-bottom: 1px solid;
}

.sign-btns {
  display:flex;
  justify-content: space-between;
}

.sign-btns :first-child{
  width: 120px;
  background: rgba(224,143,143,1);
  border-bottom: 3px solid rgb(224, 114, 114);
}

.sign-btns :nth-child(2){
  background: rgb(94, 49, 134);
}

.sign-btns :first-child :active{
  
  background: rgb(2, 1, 2);
  }

  .sign-btns a:nth-child(2):active{
    /*border: none;*/
    background:rgba(126,107,143,1) ;
    }
.sign-user {
  display: none;
}

@media (max-width: 900px) {
  nav {
    padding: 15px 20px;
    position: relative;
  }

  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .nav-icon span {
    font-size: 25px;
  }

  .main-navlinks {
    order: 1;
  }
  /* Hamburger */
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: linear-gradient(180deg, rgba(126,107,143,1) 0%, rgba(224,143,143,1) 100%, rgba(0,212,255,1) 100%);;
    align-items: center;
    position: relative;
  }
  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #333;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }
  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }
  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: rgba(224, 143, 143,1);
    top: 100%;
    left: 0;
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid #c5c5c6;
    transform: translate(-100%);
  }
  .open {
    transform: translate(0%);
  }
  .navlinks-container a {
    font-size: 25px;
    margin: 10px 0
  }

  .nav-authentication {
    order: 3;
    margin-left: 0;
  }
  .sign-btns {
    display: none;
  }
  .sign-user {
    display: block;
    cursor: pointer;
    border: none;
  }
  .sign-user img {
    width: 30px;
  }

}

@media (max-width: 500px) {
  .nav-icon img {
    width: 30px;
  }
  .nav-icon span {
    font-size: 25px;
  }
}
