@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}


.formwrapper{
  height: 100vh;
  background: url('../Images/Backgroundconnexion2.PNG') no-repeat;
  background-size: cover;
  display: flex;
}
.wrapper{
  margin: auto;
  width: 560px;
  height: 600px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height .2s ease;
}

.wrapper.active{
  height: 600px;
}
.wrapper .form-box{
  width: 78%;
  height: 500px;
  padding: 30px;
}


.wrapper .form-box.login{
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-600px);
}

.wrapper .form-box.register{
  position: absolute;
  transition: none;
  transform: translateX(600px);
}

.wrapper.active .form-box.register{
  transition: transform .18s ease;
  transform:translateX(0);
}
.wrapper .icon-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #4f04c9;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2{
  font-size: 2rem;
  /*color: rgb(59, 24, 139);*/
  text-align: center;
}

.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 19px;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 19px;
  color: aliceblue;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 20px;
  line-height: 57px;
}

.remember-forgot{
  font-size: 19px;
  font-weight: 500;
  margin: -15px 0 15px;
  
}

.remember-forgot label input{
  accent-color: #4104a3;
  margin-right: 3px;
}

.remember-forgot a{
  color: rgba(4, 4, 248, 0.801);
  text-decoration: none;
  
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.btn-register{
  width: 100%;
  height: 45px;
  background: aliceblue;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 500;
}

.btn-register:hover {
  background-color: #4f04c9;
  transform: scale(1.1);
  color: aliceblue;
  transition-duration: 0.3s;
}

.login-register{
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a{
  color: rgba(4, 4, 248, 0.801);
  text-decoration: none;
  font-weight: 600;
  margin-left: 15px;
  font-size: 20px;
}

.login-register p a:hover{
  text-decoration: underline;
}

